In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv("D:\MLAI\dataset\HousePrice.csv")

In [3]:
data

,POSTED_BY,UNDER_CONSTRUCTION,RERA,BHK_NO.,BHK_OR_RK,SQUARE_FT,READY_TO_MOVE,RESALE,ADDRESS,LONGITUDE,LATITUDE,TARGET(PRICE_IN_LACS)
0,Owner,0,0,2,BHK,1300.236407,1,1,"Ksfc Layout,Bangalore",12.969910,77.597960,55.0
1,Dealer,0,0,2,BHK,1275.000000,1,1,"Vishweshwara Nagar,Mysore",12.274538,76.644605,51.0
2,Owner,0,0,2,BHK,933.159722,1,1,"Jigani,Bangalore",12.778033,77.632191,43.0
3,Owner,0,1,2,BHK,929.921143,1,1,"Sector-1 Vaishali,Ghaziabad",28.642300,77.344500,62.5
4,Dealer,1,0,2,BHK,999.009247,0,1,"New Town,Kolkata",22.592200,88.484911,60.5
...,...,...,...,...,...,...,...,...,...,...,...,...
29446,Owner,0,0,3,BHK,2500.000000,1,1,"Shamshabad Road,Agra",27.140626,78.043277,45.0
29447,Owner,0,0,2,BHK,769.230769,1,1,"E3-108, Lake View Recidency,,Vapi",39.945409,-86.150721,16.0
29448,Dealer,0,0,2,BHK,1022.641509,1,1,"Ajmer Road,Jaipur",26.928785,75.828002,27.1
29449,Owner,0,0,2,BHK,927.079009,1,1,"Sholinganallur,Chennai",12.900150,80.227910,67.0
29450,Dealer,0,1,2,BHK,896.774194,1,1,"Jagatpura,Jaipur",26.832353,75.841749,27.8

In [4]:
data.head()

,POSTED_BY,UNDER_CONSTRUCTION,RERA,BHK_NO.,BHK_OR_RK,SQUARE_FT,READY_TO_MOVE,RESALE,ADDRESS,LONGITUDE,LATITUDE,TARGET(PRICE_IN_LACS)
0,Owner,0,0,2,BHK,1300.236407,1,1,"Ksfc Layout,Bangalore",12.969910,77.597960,55.0
1,Dealer,0,0,2,BHK,1275.000000,1,1,"Vishweshwara Nagar,Mysore",12.274538,76.644605,51.0
2,Owner,0,0,2,BHK,933.159722,1,1,"Jigani,Bangalore",12.778033,77.632191,43.0
3,Owner,0,1,2,BHK,929.921143,1,1,"Sector-1 Vaishali,Ghaziabad",28.642300,77.344500,62.5
4,Dealer,1,0,2,BHK,999.009247,0,1,"New Town,Kolkata",22.592200,88.484911,60.5

In [5]:
data.shape

(29451, 12)

In [6]:
data.tail()

,POSTED_BY,UNDER_CONSTRUCTION,RERA,BHK_NO.,BHK_OR_RK,SQUARE_FT,READY_TO_MOVE,RESALE,ADDRESS,LONGITUDE,LATITUDE,TARGET(PRICE_IN_LACS)
29446,Owner,0,0,3,BHK,2500.000000,1,1,"Shamshabad Road,Agra",27.140626,78.043277,45.0
29447,Owner,0,0,2,BHK,769.230769,1,1,"E3-108, Lake View Recidency,,Vapi",39.945409,-86.150721,16.0
29448,Dealer,0,0,2,BHK,1022.641509,1,1,"Ajmer Road,Jaipur",26.928785,75.828002,27.1
29449,Owner,0,0,2,BHK,927.079009,1,1,"Sholinganallur,Chennai",12.900150,80.227910,67.0
29450,Dealer,0,1,2,BHK,896.774194,1,1,"Jagatpura,Jaipur",26.832353,75.841749,27.8

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29451 entries, 0 to 29450
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   POSTED_BY              29451 non-null  object
 1   UNDER_CONSTRUCTION     29451 non-null  int64
 2   RERA                   29451 non-null  int64
 3   BHK_NO.                29451 non-null  int64
 4   BHK_OR_RK              29451 non-null  object
 5   SQUARE_FT              29451 non-null  float64
 6   READY_TO_MOVE          29451 non-null  int64
 7   RESALE                 29451 non-null  int64
 8   ADDRESS                29451 non-null  object
 9   LONGITUDE              29451 non-null  float64
 10  LATITUDE               29451 non-null  float64
 11  TARGET(PRICE_IN_LACS)  29451 non-null  float64
dtypes: float64(4), int64(5), object(3)
memory usage: 2.7+ MB

In [8]:
data.describe()

,UNDER_CONSTRUCTION,RERA,BHK_NO.,SQUARE_FT,READY_TO_MOVE,RESALE,LONGITUDE,LATITUDE,TARGET(PRICE_IN_LACS)
count,29451.000000,29451.000000,29451.000000,2.945100e+04,29451.000000,29451.000000,29451.000000,29451.000000,29451.000000
mean,0.179756,0.317918,2.392279,1.980217e+04,0.820244,0.929578,21.300255,76.837695,142.898746
std,0.383991,0.465675,0.879091,1.901335e+06,0.383991,0.255861,6.205306,10.557747,656.880713
min,0.000000,0.000000,1.000000,3.000000e+00,0.000000,0.000000,-37.713008,-121.761248,0.250000
25%,0.000000,0.000000,2.000000,9.000211e+02,1.000000,1.000000,18.452663,73.798100,38.000000
50%,0.000000,0.000000,2.000000,1.175057e+03,1.000000,1.000000,20.750000,77.324137,62.000000
75%,0.000000,1.000000,3.000000,1.550688e+03,1.000000,1.000000,26.900926,77.828740,100.000000
max,1.000000,1.000000,20.000000,2.545455e+08,1.000000,1.000000,59.912884,152.962676,30000.000000

In [9]:
data.isnull()

,POSTED_BY,UNDER_CONSTRUCTION,RERA,BHK_NO.,BHK_OR_RK,SQUARE_FT,READY_TO_MOVE,RESALE,ADDRESS,LONGITUDE,LATITUDE,TARGET(PRICE_IN_LACS)
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
29446,False,False,False,False,False,False,False,False,False,False,False,False
29447,False,False,False,False,False,False,False,False,False,False,False,False
29448,False,False,False,False,False,False,False,False,False,False,False,False
29449,False,False,False,False,False,False,False,False,False,False,False,False
29450,False,False,False,False,False,False,False,False,False,False,False,False

In [10]:
data.isnull().any()

POSTED_BY                False
UNDER_CONSTRUCTION       False
RERA                     False
BHK_NO.                  False
BHK_OR_RK                False
SQUARE_FT                False
READY_TO_MOVE            False
RESALE                   False
ADDRESS                  False
LONGITUDE                False
LATITUDE                 False
TARGET(PRICE_IN_LACS)    False
dtype: bool

In [21]:
dataset=[]
for x in data["TARGET(PRICE_IN_LACS)"]:
    ab=x+2
    ab1=round(ab,2)
    dataset.append(ab1)

In [22]:
dataset

[57.0,
 53.0,
 45.0,
 64.5,
 62.5,
 44.0,
 68.5,
 54.0,
 43.6,
 38.0,
 37.0,
 112.0,
 50.0,
 64.0,
 22.0,
 73.1,
 87.0,
 182.0,
 24.0,
 122.0,
 47.0,
 44.0,
 57.0,
 302.0,
 52.0,
 29.5,
 48.0,
 24.9,
 41.0,
 14.5,
 54.0,
 35.0,
 57.0,
 84.0,
 242.0,
 57.0,
 67.0,
 67.0,
 37.0,
 77.0,
 9112.0,
 67.0,
 32.0,
 252.0,
 222.0,
 40.0,
 62.0,
 48.0,
 28.3,
 53.6,
 57.0,
 73.9,
 132.0,
 34.5,
 41.9,
 61.9,
 67.0,
 112.0,
 70.5,
 101.0,
 252.0,
 29.5,
 72.0,
 52.0,
 72.0,
 24.1,
 282.0,
 76.0,
 87.0,
 51.2,
 47.0,
 62.0,
 32.0,
 35.0,
 31.0,
 212.0,
 90.6,
 782.0,
 32.0,
 142.0,
 242.0,
 162.0,
 102.0,
 62.0,
 83.5,
 36.0,
 33.8,
 32.0,
 26.9,
 50.0,
 55.7,
 44.0,
 152.0,
 442.0,
 142.0,
 60.0,
 102.0,
 20.0,
 62.4,
 32.0,
 52.0,
 142.0,
 82.0,
 51.0,
 26.5,
 20.0,
 97.0,
 24.0,
 50.0,
 77.0,
 95.0,
 90.0,
 84.0,
 77.0,
 23.2,
 66.9,
 82.0,
 76.0,
 101.0,
 44.0,
 342.0,
 72.0,
 40.0,
 472.0,
 48.0,
 85.7,
 84.0,
 72.0,
 13.0,
 50.0,
 242.0,
 332.0,
 102.0,
 64.0,
 18.5,
 302.0,
 102.0,
 50.0,
 16.5,
 102.0,
 67.0,
 27.0,
 40.0,
 39.0,
 59.9,
 182.0,
 182.0,
 22.0,
 87.0,
 152.0,
 35.9,
 90.0,
 27.0,
 102.0,
 101.0,
 69.0,
 212.0,
 51.0,
 77.0,
 57.0,
 1702.0,
 252.0,
 32.0,
 252.0,
 57.0,
 162.0,
 52.7,
 84.0,
 112.0,
 152.0,
 62.0,
 97.0,
 77.0,
 87.0,
 202.0,
 112.0,
 42.0,
 42.0,
 23.0,
 26.0,
 92.0,
 40.0,
 282.0,
 61.6,
 122.0,
 122.0,
 33.0,
 74.0,
 81.5,
 91.0,
 412.0,
 70.6,
 35.0,
 52.0,
 18.0,
 100.0,
 72.0,
 78.5,
 28.0,
 112.0,
 79.0,
 142.0,
 72.0,
 63.0,
 19.3,
 44.0,
 27.0,
 152.0,
 90.9,
 112.0,
 43.0,
 26.0,
 50.2,
 35.0,
 252.0,
 162.0,
 142.0,
 38.0,
 81.0,
 162.0,
 71.0,
 32.1,
 192.0,
 83.0,
 72.0,
 32.0,
 27.0,
 402.0,
 81.0,
 162.0,
 13.5,
 52.0,
 232.0,
 23.5,
 112.0,
 58.0,
 47.0,
 112.0,
 90.6,
 102.0,
 302.0,
 64.0,
 47.9,
 39.0,
 92.0,
 47.9,
 132.0,
 422.0,
 60.5,
 19.0,
 222.0,
 50.0,
 50.0,
 66.1,
 54.0,
 602.0,
 472.0,
 48.0,
 67.0,
 52.0,
 79.5,
 28.2,
 122.0,
 102.0,
 172.0,
 25.0,
 52.2,
 16.0,
 87.0,
 32.0,
 102.0,
 27.0,
 46.9,
 28.0,
 97.0,
 112.0,
 27.0,
 67.0,
 27.0,
 38.5,
 182.0,
 182.0,
 32.0,
 162.0,
 52.0,
 84.2,
 92.0,
 102.0,
 29.0,
 64.9,
 35.0,
 96.0,
 29.7,
 39.5,
 9482.0,
 392.0,
 67.5,
 87.0,
 25.0,
 101.0,
 47.0,
 102.0,
 462.0,
 152.0,
 42.0,
 54.0,
 342.0,
 29.0,
 232.0,
 84.0,
 112.0,
 42.0,
 162.0,
 22.0,
 87.0,
 24.4,
 122.0,
 37.0,
 56.0,
 58.0,
 92.0,
 25.0,
 51.0,
 72.0,
 43.0,
 10.5,
 55.0,
 40.0,
 45.0,
 34.4,
 172.0,
 14.0,
 112.0,
 93.0,
 24.0,
 84.0,
 392.0,
 37.0,
 36.0,
 93.5,
 122.0,
 30.9,
 33.0,
 77.0,
 80.6,
 162.0,
 24.0,
 1202.0,
 372.0,
 33.2,
 47.0,
 102.0,
 112.0,
 69.9,
 28.0,
 112.0,
 26.0,
 102.0,
 112.0,
 72.0,
 472.0,
 1202.0,
 252.0,
 96.0,
 55.7,
 142.0,
 42.6,
 262.0,
 27.2,
 92.0,
 76.0,
 212.0,
 152.0,
 67.0,
 40.0,
 29.2,
 87.0,
 62.0,
 62.0,
 112.0,
 68.0,
 27.5,
 32.0,
 62.0,
 48.8,
 38.1,
 34.5,
 98.0,
 84.0,
 31.0,
 48.6,
 47.0,
 56.0,
 45.0,
 50.0,
 29.0,
 26.0,
 20.7,
 98.0,
 212.0,
 192.0,
 112.0,
 242.0,
 97.0,
 37.0,
 60.0,
 352.0,
 192.0,
 37.0,
 55.0,
 53.0,
 362.0,
 80.5,
 47.0,
 78.5,
 322.0,
 86.0,
 162.0,
 51.0,
 65.0,
 102.0,
 54.0,
 57.0,
 69.0,
 202.0,
 132.0,
 32.0,
 47.0,
 68.4,
 40.0,
 152.0,
 33.2,
 87.0,
 29.0,
 52.0,
 112.0,
 67.0,
 42.0,
 28.3,
 102.0,
 152.0,
 172.0,
 172.0,
 752.0,
 38.0,
 282.0,
 14.5,
 162.0,
 232.0,
 99.0,
 22.5,
 33.8,
 132.0,
 65.0,
 50.9,
 52.0,
 482.0,
 15.5,
 162.0,
 67.0,
 192.0,
 102.0,
 112.0,
 252.0,
 87.0,
 72.0,
 72.0,
 252.0,
 302.0,
 18.0,
 102.0,
 122.0,
 27.3,
 31.0,
 46.5,
 402.0,
 312.0,
 101.0,
 59.0,
 112.0,
 122.0,
 39.0,
 49.0,
 21.1,
 66.4,
 39.0,
 25.0,
 81.0,
 68.3,
 26.0,
 57.0,
 25.0,
 472.0,
 24.4,
 33.0,
 47.0,
 122.0,
 47.0,
 80.0,
 57.0,
 38.9,
 67.0,
 88.0,
 112.0,
 36.0,
 94.0,
 67.0,
 89.9,
 63.0,
 122.0,
 672.0,
 162.0,
 57.0,
 90.0,
 50.0,
 64.0,
 42.0,
 37.0,
 132.0,
 32.0,
 182.0,
 19.0,
 80.1,
 49.0,
 80.0,
 51.0,
 89.0,
 142.0,
 192.0,
 96.0,
 19.0,
 132.0,
 142.0,
 89.1,
 45.5,
 15.0,
 92.0,
 122.0,
 54.0,
 37.0,
 34.0,
 25.0,
 47.7,
 72.0,
 502.0,
 71.5,
 15.5,
 83.0,
 24.0,
 47.0,
 57.5,
 37.0,
 242.0,
 162.0,
 7282.0,
 222.0,
 53.0,
 28.3,
 42.0,
 94.5,
 112.0,
 192.0,
 222.0,
 97.0,
 77.0,
 99.6,
 80.0,
 632.0,
 78.0,
 78.0,
 692.0,
 11.0,
 87.0,
 51.6,
 77.0,
 48.0,
 55.5,
 68.0,
 162.0,
 31.5,
 30.0,
 572.0,
 37.0,
 36.0,
 15.0,
 34.0,
 132.0,
 102.0,
 292.0,
 36.0,
 28.0,
 37.0,
 45.0,
 74.0,
 112.0,
 64.0,
 24.5,
 87.0,
 53.8,
 372.0,
 50.4,
 112.0,
 25.5,
 47.0,
 17.3,
 62.0,
 47.0,
 26.5,
 66.0,
 58.0,
 87.0,
 132.0,
 40.0,
 22.0,
 202.0,
 60.1,
 27.0,
 65.8,
 1192.0,
 44.0,
 45.0,
 62.0,
 20.5,
 50.0,
 132.0,
 71.9,
 112.0,
 11.0,
 352.0,
 54.8,
 29.0,
 43.0,
 40.5,
 52.0,
 58.0,
 25.5,
 112.0,
 26.2,
 44.0,
 102.0,
 212.0,
 100.5,
 12.2,
 38.0,
 77.0,
 142.0,
 4502.0,
 152.0,
 24.0,
 182.0,
 85.0,
 62.0,
 59.9,
 26.8,
 32.7,
 47.5,
 272.0,
 20.0,
 302.0,
 35.7,
 97.0,
 552.0,
 232.0,
 72.0,
 70.4,
 72.0,
 102.0,
 152.0,
 232.0,
 672.0,
 96.0,
 52.0,
 70.0,
 382.0,
 32.0,
 37.0,
 61.5,
 53.0,
 37.0,
 122.0,
 102.0,
 272.0,
 182.0,
 142.0,
 43.0,
 332.0,
 35.5,
 51.0,
 69.0,
 55.0,
 49.0,
 35.7,
 26.0,
 122.0,
 32.0,
 42.7,
 302.0,
 44.5,
 41.0,
 40.0,
 22.0,
 42.0,
 112.0,
 182.0,
 70.0,
 29.8,
 34.0,
 32.0,
 68.0,
 79.0,
 272.0,
 20.0,
 85.0,
 62.0,
 60.0,
 60.0,
 57.0,
 46.2,
 42.2,
 50.0,
 46.0,
 23.0,
 7422.0,
 70.0,
 50.1,
 56.9,
 59.0,
 322.0,
 112.0,
 45.0,
 67.0,
 53.0,
 102.0,
 602.0,
 162.0,
 99.0,
 89.0,
 89.5,
 57.0,
 16.0,
 54.0,
 32.9,
 24.5,
 74.0,
 182.0,
 77.0,
 70.0,
 112.0,
 79.9,
 312.0,
 62.0,
 192.0,
 182.0,
 93.0,
 43.2,
 40.0,
 262.0,
 122.0,
 472.0,
 33.7,
 32.6,
 40.2,
 87.0,
 27.0,
 13.0,
 17.0,
 24.0,
 101.0,
 66.5,
 112.0,
 34.0,
 102.0,
 62.0,
 95.0,
 42.0,
 142.0,
 47.0,
 392.0,
 59.0,
 42.0,
 27.0,
 42.0,
 72.0,
 46.0,
 122.0,
 422.0,
 90.0,
 132.0,
 37.0,
 74.0,
 122.0,
 322.0,
 93.5,
 15.0,
 54.0,
 272.0,
 62.0,
 77.0,
 172.0,
 67.0,
 34.0,
 33.0,
 72.0,
 72.0,
 47.0,
 122.0,
 76.5,
 97.0,
 102.0,
 62.0,
 26.7,
 322.0,
 49.0,
 112.0,
 55.0,
 55.0,
 47.0,
 27.0,
 67.0,
 50.3,
 162.0,
 65.9,
 122.0,
 74.0,
 142.0,
 23.0,
 122.0,
 112.0,
 25.4,
 19.0,
 30.1,
 87.0,
 122.0,
 40.0,
 102.0,
 78.0,
 202.0,
 83.9,
 23.0,
 48.1,
 122.0,
 88.0,
 50.0,
 28.0,
 83.3,
 152.0,
 67.0,
 102.0,
 23.9,
 142.0,
 86.0,
 142.0,
 26.5,
 27.0,
 172.0,
 102.0,
 87.0,
 39.5,
 132.0,
 60.0,
 112.0,
 142.0,
 62.0,
 322.0,
 222.0,
 62.0,
 46.0,
 38.0,
 67.0,
 60.5,
 47.0,
 16.7,
 39.0,
 552.0,
 47.0,
 152.0,
 122.0,
 162.0,
 82.2,
 182.0,
 152.0,
 74.0,
 42.0,
 23.8,
 82.0,
 62.0,
 29.0,
 24.0,
 71.3,
 60.0,
 102.0,
 39.0,
 89.3,
 172.0,
 87.0,
 64.0,
 37.0,
 89.0,
 26.7,
 50.0,
 51.8,
 49.3,
 25.9,
 66.8,
 132.0,
 132.0,
 18.2,
 182.0,
 33.2,
 112.0,
 112.0,
 49.9,
 32.5,
 32.0,
 43.5,
 67.2,
 88.0,
 24.0,
 34.0,
 77.0,
 45.0,
 92.0,
 552.0,
 37.0,
 31.0,
 37.0,
 40.0,
 36.0,
 97.0,
 13.5,
 47.0,
 14.0,
 222.0,
 45.0,
 28.5,
 142.0,
 81.0,
 24.1,
 51.0,
 101.0,
 102.0,
 69.5,
 192.0,
 132.0,
 101.0,
 68.4,
 45.0,
 37.0,
 162.0,
 74.5,
 232.0,
 62.0,
 112.0,
 77.0,
 59.0,
 25.5,
 112.0,
 19.3,
 17.4,
 27.0,
 87.0,
 57.1,
 132.0,
 112.0,
 49.2,
 54.0,
 36.9,
 372.0,
 62.0,
 102.0,
 58.0,
 34.0,
 47.0,
 30.0,
 172.0,
 92.0,
 37.0,
 16.9,
 57.0,
 47.0,
 102.0,
 102.0,
 83.0,
 63.0,
 24.0,
 87.0,
 74.0,
 37.0,
 26.9,
 77.0,
 97.9,
 38.0,
 42.0,
 67.0,
 92.0,
 122.0,
 93.0,
 70.0,
 60.0,
 87.0,
 ...]

In [23]:
data["New_Temp"]=dataset

In [24]:
dataset

[57.0,
 53.0,
 45.0,
 64.5,
 62.5,
 44.0,
 68.5,
 54.0,
 43.6,
 38.0,
 37.0,
 112.0,
 50.0,
 64.0,
 22.0,
 73.1,
 87.0,
 182.0,
 24.0,
 122.0,
 47.0,
 44.0,
 57.0,
 302.0,
 52.0,
 29.5,
 48.0,
 24.9,
 41.0,
 14.5,
 54.0,
 35.0,
 57.0,
 84.0,
 242.0,
 57.0,
 67.0,
 67.0,
 37.0,
 77.0,
 9112.0,
 67.0,
 32.0,
 252.0,
 222.0,
 40.0,
 62.0,
 48.0,
 28.3,
 53.6,
 57.0,
 73.9,
 132.0,
 34.5,
 41.9,
 61.9,
 67.0,
 112.0,
 70.5,
 101.0,
 252.0,
 29.5,
 72.0,
 52.0,
 72.0,
 24.1,
 282.0,
 76.0,
 87.0,
 51.2,
 47.0,
 62.0,
 32.0,
 35.0,
 31.0,
 212.0,
 90.6,
 782.0,
 32.0,
 142.0,
 242.0,
 162.0,
 102.0,
 62.0,
 83.5,
 36.0,
 33.8,
 32.0,
 26.9,
 50.0,
 55.7,
 44.0,
 152.0,
 442.0,
 142.0,
 60.0,
 102.0,
 20.0,
 62.4,
 32.0,
 52.0,
 142.0,
 82.0,
 51.0,
 26.5,
 20.0,
 97.0,
 24.0,
 50.0,
 77.0,
 95.0,
 90.0,
 84.0,
 77.0,
 23.2,
 66.9,
 82.0,
 76.0,
 101.0,
 44.0,
 342.0,
 72.0,
 40.0,
 472.0,
 48.0,
 85.7,
 84.0,
 72.0,
 13.0,
 50.0,
 242.0,
 332.0,
 102.0,
 64.0,
 18.5,
 302.0,
 102.0,
 50.0,
 16.5,
 102.0,
 67.0,
 27.0,
 40.0,
 39.0,
 59.9,
 182.0,
 182.0,
 22.0,
 87.0,
 152.0,
 35.9,
 90.0,
 27.0,
 102.0,
 101.0,
 69.0,
 212.0,
 51.0,
 77.0,
 57.0,
 1702.0,
 252.0,
 32.0,
 252.0,
 57.0,
 162.0,
 52.7,
 84.0,
 112.0,
 152.0,
 62.0,
 97.0,
 77.0,
 87.0,
 202.0,
 112.0,
 42.0,
 42.0,
 23.0,
 26.0,
 92.0,
 40.0,
 282.0,
 61.6,
 122.0,
 122.0,
 33.0,
 74.0,
 81.5,
 91.0,
 412.0,
 70.6,
 35.0,
 52.0,
 18.0,
 100.0,
 72.0,
 78.5,
 28.0,
 112.0,
 79.0,
 142.0,
 72.0,
 63.0,
 19.3,
 44.0,
 27.0,
 152.0,
 90.9,
 112.0,
 43.0,
 26.0,
 50.2,
 35.0,
 252.0,
 162.0,
 142.0,
 38.0,
 81.0,
 162.0,
 71.0,
 32.1,
 192.0,
 83.0,
 72.0,
 32.0,
 27.0,
 402.0,
 81.0,
 162.0,
 13.5,
 52.0,
 232.0,
 23.5,
 112.0,
 58.0,
 47.0,
 112.0,
 90.6,
 102.0,
 302.0,
 64.0,
 47.9,
 39.0,
 92.0,
 47.9,
 132.0,
 422.0,
 60.5,
 19.0,
 222.0,
 50.0,
 50.0,
 66.1,
 54.0,
 602.0,
 472.0,
 48.0,
 67.0,
 52.0,
 79.5,
 28.2,
 122.0,
 102.0,
 172.0,
 25.0,
 52.2,
 16.0,
 87.0,
 32.0,
 102.0,
 27.0,
 46.9,
 28.0,
 97.0,
 112.0,
 27.0,
 67.0,
 27.0,
 38.5,
 182.0,
 182.0,
 32.0,
 162.0,
 52.0,
 84.2,
 92.0,
 102.0,
 29.0,
 64.9,
 35.0,
 96.0,
 29.7,
 39.5,
 9482.0,
 392.0,
 67.5,
 87.0,
 25.0,
 101.0,
 47.0,
 102.0,
 462.0,
 152.0,
 42.0,
 54.0,
 342.0,
 29.0,
 232.0,
 84.0,
 112.0,
 42.0,
 162.0,
 22.0,
 87.0,
 24.4,
 122.0,
 37.0,
 56.0,
 58.0,
 92.0,
 25.0,
 51.0,
 72.0,
 43.0,
 10.5,
 55.0,
 40.0,
 45.0,
 34.4,
 172.0,
 14.0,
 112.0,
 93.0,
 24.0,
 84.0,
 392.0,
 37.0,
 36.0,
 93.5,
 122.0,
 30.9,
 33.0,
 77.0,
 80.6,
 162.0,
 24.0,
 1202.0,
 372.0,
 33.2,
 47.0,
 102.0,
 112.0,
 69.9,
 28.0,
 112.0,
 26.0,
 102.0,
 112.0,
 72.0,
 472.0,
 1202.0,
 252.0,
 96.0,
 55.7,
 142.0,
 42.6,
 262.0,
 27.2,
 92.0,
 76.0,
 212.0,
 152.0,
 67.0,
 40.0,
 29.2,
 87.0,
 62.0,
 62.0,
 112.0,
 68.0,
 27.5,
 32.0,
 62.0,
 48.8,
 38.1,
 34.5,
 98.0,
 84.0,
 31.0,
 48.6,
 47.0,
 56.0,
 45.0,
 50.0,
 29.0,
 26.0,
 20.7,
 98.0,
 212.0,
 192.0,
 112.0,
 242.0,
 97.0,
 37.0,
 60.0,
 352.0,
 192.0,
 37.0,
 55.0,
 53.0,
 362.0,
 80.5,
 47.0,
 78.5,
 322.0,
 86.0,
 162.0,
 51.0,
 65.0,
 102.0,
 54.0,
 57.0,
 69.0,
 202.0,
 132.0,
 32.0,
 47.0,
 68.4,
 40.0,
 152.0,
 33.2,
 87.0,
 29.0,
 52.0,
 112.0,
 67.0,
 42.0,
 28.3,
 102.0,
 152.0,
 172.0,
 172.0,
 752.0,
 38.0,
 282.0,
 14.5,
 162.0,
 232.0,
 99.0,
 22.5,
 33.8,
 132.0,
 65.0,
 50.9,
 52.0,
 482.0,
 15.5,
 162.0,
 67.0,
 192.0,
 102.0,
 112.0,
 252.0,
 87.0,
 72.0,
 72.0,
 252.0,
 302.0,
 18.0,
 102.0,
 122.0,
 27.3,
 31.0,
 46.5,
 402.0,
 312.0,
 101.0,
 59.0,
 112.0,
 122.0,
 39.0,
 49.0,
 21.1,
 66.4,
 39.0,
 25.0,
 81.0,
 68.3,
 26.0,
 57.0,
 25.0,
 472.0,
 24.4,
 33.0,
 47.0,
 122.0,
 47.0,
 80.0,
 57.0,
 38.9,
 67.0,
 88.0,
 112.0,
 36.0,
 94.0,
 67.0,
 89.9,
 63.0,
 122.0,
 672.0,
 162.0,
 57.0,
 90.0,
 50.0,
 64.0,
 42.0,
 37.0,
 132.0,
 32.0,
 182.0,
 19.0,
 80.1,
 49.0,
 80.0,
 51.0,
 89.0,
 142.0,
 192.0,
 96.0,
 19.0,
 132.0,
 142.0,
 89.1,
 45.5,
 15.0,
 92.0,
 122.0,
 54.0,
 37.0,
 34.0,
 25.0,
 47.7,
 72.0,
 502.0,
 71.5,
 15.5,
 83.0,
 24.0,
 47.0,
 57.5,
 37.0,
 242.0,
 162.0,
 7282.0,
 222.0,
 53.0,
 28.3,
 42.0,
 94.5,
 112.0,
 192.0,
 222.0,
 97.0,
 77.0,
 99.6,
 80.0,
 632.0,
 78.0,
 78.0,
 692.0,
 11.0,
 87.0,
 51.6,
 77.0,
 48.0,
 55.5,
 68.0,
 162.0,
 31.5,
 30.0,
 572.0,
 37.0,
 36.0,
 15.0,
 34.0,
 132.0,
 102.0,
 292.0,
 36.0,
 28.0,
 37.0,
 45.0,
 74.0,
 112.0,
 64.0,
 24.5,
 87.0,
 53.8,
 372.0,
 50.4,
 112.0,
 25.5,
 47.0,
 17.3,
 62.0,
 47.0,
 26.5,
 66.0,
 58.0,
 87.0,
 132.0,
 40.0,
 22.0,
 202.0,
 60.1,
 27.0,
 65.8,
 1192.0,
 44.0,
 45.0,
 62.0,
 20.5,
 50.0,
 132.0,
 71.9,
 112.0,
 11.0,
 352.0,
 54.8,
 29.0,
 43.0,
 40.5,
 52.0,
 58.0,
 25.5,
 112.0,
 26.2,
 44.0,
 102.0,
 212.0,
 100.5,
 12.2,
 38.0,
 77.0,
 142.0,
 4502.0,
 152.0,
 24.0,
 182.0,
 85.0,
 62.0,
 59.9,
 26.8,
 32.7,
 47.5,
 272.0,
 20.0,
 302.0,
 35.7,
 97.0,
 552.0,
 232.0,
 72.0,
 70.4,
 72.0,
 102.0,
 152.0,
 232.0,
 672.0,
 96.0,
 52.0,
 70.0,
 382.0,
 32.0,
 37.0,
 61.5,
 53.0,
 37.0,
 122.0,
 102.0,
 272.0,
 182.0,
 142.0,
 43.0,
 332.0,
 35.5,
 51.0,
 69.0,
 55.0,
 49.0,
 35.7,
 26.0,
 122.0,
 32.0,
 42.7,
 302.0,
 44.5,
 41.0,
 40.0,
 22.0,
 42.0,
 112.0,
 182.0,
 70.0,
 29.8,
 34.0,
 32.0,
 68.0,
 79.0,
 272.0,
 20.0,
 85.0,
 62.0,
 60.0,
 60.0,
 57.0,
 46.2,
 42.2,
 50.0,
 46.0,
 23.0,
 7422.0,
 70.0,
 50.1,
 56.9,
 59.0,
 322.0,
 112.0,
 45.0,
 67.0,
 53.0,
 102.0,
 602.0,
 162.0,
 99.0,
 89.0,
 89.5,
 57.0,
 16.0,
 54.0,
 32.9,
 24.5,
 74.0,
 182.0,
 77.0,
 70.0,
 112.0,
 79.9,
 312.0,
 62.0,
 192.0,
 182.0,
 93.0,
 43.2,
 40.0,
 262.0,
 122.0,
 472.0,
 33.7,
 32.6,
 40.2,
 87.0,
 27.0,
 13.0,
 17.0,
 24.0,
 101.0,
 66.5,
 112.0,
 34.0,
 102.0,
 62.0,
 95.0,
 42.0,
 142.0,
 47.0,
 392.0,
 59.0,
 42.0,
 27.0,
 42.0,
 72.0,
 46.0,
 122.0,
 422.0,
 90.0,
 132.0,
 37.0,
 74.0,
 122.0,
 322.0,
 93.5,
 15.0,
 54.0,
 272.0,
 62.0,
 77.0,
 172.0,
 67.0,
 34.0,
 33.0,
 72.0,
 72.0,
 47.0,
 122.0,
 76.5,
 97.0,
 102.0,
 62.0,
 26.7,
 322.0,
 49.0,
 112.0,
 55.0,
 55.0,
 47.0,
 27.0,
 67.0,
 50.3,
 162.0,
 65.9,
 122.0,
 74.0,
 142.0,
 23.0,
 122.0,
 112.0,
 25.4,
 19.0,
 30.1,
 87.0,
 122.0,
 40.0,
 102.0,
 78.0,
 202.0,
 83.9,
 23.0,
 48.1,
 122.0,
 88.0,
 50.0,
 28.0,
 83.3,
 152.0,
 67.0,
 102.0,
 23.9,
 142.0,
 86.0,
 142.0,
 26.5,
 27.0,
 172.0,
 102.0,
 87.0,
 39.5,
 132.0,
 60.0,
 112.0,
 142.0,
 62.0,
 322.0,
 222.0,
 62.0,
 46.0,
 38.0,
 67.0,
 60.5,
 47.0,
 16.7,
 39.0,
 552.0,
 47.0,
 152.0,
 122.0,
 162.0,
 82.2,
 182.0,
 152.0,
 74.0,
 42.0,
 23.8,
 82.0,
 62.0,
 29.0,
 24.0,
 71.3,
 60.0,
 102.0,
 39.0,
 89.3,
 172.0,
 87.0,
 64.0,
 37.0,
 89.0,
 26.7,
 50.0,
 51.8,
 49.3,
 25.9,
 66.8,
 132.0,
 132.0,
 18.2,
 182.0,
 33.2,
 112.0,
 112.0,
 49.9,
 32.5,
 32.0,
 43.5,
 67.2,
 88.0,
 24.0,
 34.0,
 77.0,
 45.0,
 92.0,
 552.0,
 37.0,
 31.0,
 37.0,
 40.0,
 36.0,
 97.0,
 13.5,
 47.0,
 14.0,
 222.0,
 45.0,
 28.5,
 142.0,
 81.0,
 24.1,
 51.0,
 101.0,
 102.0,
 69.5,
 192.0,
 132.0,
 101.0,
 68.4,
 45.0,
 37.0,
 162.0,
 74.5,
 232.0,
 62.0,
 112.0,
 77.0,
 59.0,
 25.5,
 112.0,
 19.3,
 17.4,
 27.0,
 87.0,
 57.1,
 132.0,
 112.0,
 49.2,
 54.0,
 36.9,
 372.0,
 62.0,
 102.0,
 58.0,
 34.0,
 47.0,
 30.0,
 172.0,
 92.0,
 37.0,
 16.9,
 57.0,
 47.0,
 102.0,
 102.0,
 83.0,
 63.0,
 24.0,
 87.0,
 74.0,
 37.0,
 26.9,
 77.0,
 97.9,
 38.0,
 42.0,
 67.0,
 92.0,
 122.0,
 93.0,
 70.0,
 60.0,
 87.0,
 ...]

In [13]:
data['POSTED_BY'].value_counts()

Dealer     18291
Owner      10538
Builder      622
Name: POSTED_BY, dtype: int64

In [14]:
data['TARGET(PRICE_IN_LACS)'].unique

<bound method Series.unique of 0        55.0
1        51.0
2        43.0
3        62.5
4        60.5
         ...
29446    45.0
29447    16.0
29448    27.1
29449    67.0
29450    27.8
Name: TARGET(PRICE_IN_LACS), Length: 29451, dtype: float64>

In [15]:
# 1) Slice the data of Dealer who has  approval by RERA and the Price of House is Between 25 Lac to 35 Lac?

In [25]:
data1=data.loc[(data['RERA']==0)&((data['TARGET(PRICE_IN_LACS)']>=25)&(data['TARGET(PRICE_IN_LACS)']<=35))]

In [26]:
data1

,POSTED_BY,UNDER_CONSTRUCTION,RERA,BHK_NO.,BHK_OR_RK,SQUARE_FT,READY_TO_MOVE,RESALE,ADDRESS,LONGITUDE,LATITUDE,TARGET(PRICE_IN_LACS),New_Temp
10,Owner,0,0,3,BHK,1350.308642,1,1,"Deshbandhu Para,Siliguri",26.724219,88.326357,35.0,37.0
25,Owner,0,0,2,BHK,780.141844,1,1,"Kudgat,Kolkata",22.541110,88.337780,27.5,29.5
38,Dealer,1,0,2,BHK,1000.000000,0,1,"Madhurawada,Visakhapatnam",17.815234,83.358180,35.0,37.0
42,Dealer,1,0,1,BHK,400.000000,0,1,"Kharadi,Pune",18.543800,73.943800,30.0,32.0
53,Owner,0,0,3,BHK,1275.009808,1,1,"Shiv Mandir,Siliguri",25.232239,71.392013,32.5,34.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
29392,Dealer,0,0,2,BHK,965.177895,1,1,"Electronics City Phase 1,Bangalore",12.840956,77.659441,25.5,27.5
29405,Owner,0,0,2,BHK,1075.268817,1,1,"Sirsi Road,Jaipur",27.073397,75.594316,31.0,33.0
29413,Owner,0,0,2,BHK,639.874270,1,1,"Madhapar,Rajkot",22.750413,70.492714,28.5,30.5
29437,Dealer,0,0,2,BHK,760.116253,1,1,"Nandi Bagan,Kolkata",22.541110,88.337780,34.0,36.0
29448,Dealer,0,0,2,BHK,1022.641509,1,1,"Ajmer Road,Jaipur",26.928785,75.828002,27.1,29.1

In [27]:
# 2) Fetch the data of Owner and Dealer who has only 2 bhk flats and add 5 Lac amount in Target Price.

In [28]:
data2=data.loc[data["BHK_NO."]==2]

In [29]:
data2

,POSTED_BY,UNDER_CONSTRUCTION,RERA,BHK_NO.,BHK_OR_RK,SQUARE_FT,READY_TO_MOVE,RESALE,ADDRESS,LONGITUDE,LATITUDE,TARGET(PRICE_IN_LACS),New_Temp
0,Owner,0,0,2,BHK,1300.236407,1,1,"Ksfc Layout,Bangalore",12.969910,77.597960,55.0,57.0
1,Dealer,0,0,2,BHK,1275.000000,1,1,"Vishweshwara Nagar,Mysore",12.274538,76.644605,51.0,53.0
2,Owner,0,0,2,BHK,933.159722,1,1,"Jigani,Bangalore",12.778033,77.632191,43.0,45.0
3,Owner,0,1,2,BHK,929.921143,1,1,"Sector-1 Vaishali,Ghaziabad",28.642300,77.344500,62.5,64.5
4,Dealer,1,0,2,BHK,999.009247,0,1,"New Town,Kolkata",22.592200,88.484911,60.5,62.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
29445,Owner,0,0,2,BHK,1062.134891,1,1,"Tilakwadi,Belgaum",15.866670,74.500000,40.0,42.0
29447,Owner,0,0,2,BHK,769.230769,1,1,"E3-108, Lake View Recidency,,Vapi",39.945409,-86.150721,16.0,18.0
29448,Dealer,0,0,2,BHK,1022.641509,1,1,"Ajmer Road,Jaipur",26.928785,75.828002,27.1,29.1
29449,Owner,0,0,2,BHK,927.079009,1,1,"Sholinganallur,Chennai",12.900150,80.227910,67.0,69.0
29450,Dealer,0,1,2,BHK,896.774194,1,1,"Jagatpura,Jaipur",26.832353,75.841749,27.8,29.8

In [36]:
data3=[]
for x in data2["TARGET(PRICE_IN_LACS)"]:
    ab=x+5
    data3.append(ab)

In [37]:
data3

[67.5,
 57.0,
 46.6,
 41.0,
 67.0,
 76.1,
 185.0,
 125.0,
 60.0,
 38.0,
 87.0,
 70.0,
 70.0,
 255.0,
 56.6,
 76.9,
 135.0,
 115.0,
 27.1,
 285.0,
 215.0,
 785.0,
 105.0,
 65.0,
 86.5,
 29.9,
 47.0,
 145.0,
 65.4,
 55.0,
 53.0,
 69.9,
 43.0,
 51.0,
 87.0,
 16.0,
 245.0,
 335.0,
 105.0,
 305.0,
 62.9,
 185.0,
 38.9,
 104.0,
 255.0,
 255.0,
 87.0,
 115.0,
 95.0,
 285.0,
 84.5,
 145.0,
 115.0,
 165.0,
 145.0,
 75.0,
 35.0,
 405.0,
 165.0,
 115.0,
 105.0,
 305.0,
 225.0,
 53.0,
 51.0,
 125.0,
 49.9,
 115.0,
 185.0,
 35.0,
 165.0,
 55.0,
 67.9,
 70.5,
 104.0,
 28.0,
 54.0,
 175.0,
 115.0,
 96.0,
 395.0,
 165.0,
 105.0,
 115.0,
 475.0,
 1205.0,
 99.0,
 45.6,
 265.0,
 90.0,
 71.0,
 51.6,
 50.0,
 48.0,
 355.0,
 195.0,
 56.0,
 83.5,
 81.5,
 325.0,
 72.0,
 71.4,
 155.0,
 55.0,
 31.3,
 105.0,
 175.0,
 755.0,
 165.0,
 235.0,
 102.0,
 68.0,
 55.0,
 115.0,
 255.0,
 75.0,
 255.0,
 305.0,
 21.0,
 115.0,
 83.0,
 125.0,
 165.0,
 35.0,
 185.0,
 83.0,
 54.0,
 92.0,
 99.0,
 74.5,
 245.0,
 56.0,
 225.0,
 102.6,
 83.0,
 54.6,
 51.0,
 34.5,
 48.0,
 77.0,
 375.0,
 53.4,
 115.0,
 28.5,
 135.0,
 205.0,
 68.8,
 1195.0,
 135.0,
 355.0,
 46.0,
 105.0,
 185.0,
 88.0,
 65.0,
 62.9,
 38.7,
 75.0,
 73.4,
 99.0,
 64.5,
 125.0,
 105.0,
 185.0,
 46.0,
 125.0,
 275.0,
 49.0,
 73.0,
 53.1,
 59.9,
 115.0,
 70.0,
 56.0,
 92.5,
 60.0,
 57.0,
 27.5,
 185.0,
 195.0,
 185.0,
 475.0,
 36.7,
 35.6,
 90.0,
 104.0,
 37.0,
 98.0,
 395.0,
 45.0,
 77.0,
 125.0,
 57.0,
 70.0,
 37.0,
 125.0,
 79.5,
 100.0,
 52.0,
 58.0,
 68.9,
 125.0,
 77.0,
 28.4,
 125.0,
 53.0,
 86.3,
 70.0,
 145.0,
 175.0,
 105.0,
 115.0,
 65.0,
 225.0,
 42.0,
 555.0,
 125.0,
 26.8,
 74.3,
 92.0,
 54.8,
 52.3,
 28.9,
 135.0,
 46.5,
 70.2,
 100.0,
 48.0,
 31.5,
 54.0,
 104.0,
 77.5,
 115.0,
 115.0,
 22.3,
 90.0,
 135.0,
 115.0,
 52.2,
 375.0,
 50.0,
 95.0,
 60.0,
 86.0,
 77.0,
 29.9,
 100.9,
 45.0,
 95.0,
 96.0,
 63.0,
 115.0,
 165.0,
 85.0,
 35.0,
 54.0,
 35.5,
 59.0,
 25.0,
 92.0,
 255.0,
 435.0,
 39.0,
 29.5,
 53.5,
 62.4,
 65.0,
 145.0,
 61.0,
 75.0,
 68.0,
 80.0,
 81.0,
 67.0,
 105.0,
 100.0,
 74.0,
 105.0,
 41.5,
 59.5,
 245.0,
 34.0,
 155.0,
 52.3,
 71.0,
 155.0,
 50.0,
 38.0,
 275.0,
 45.0,
 135.0,
 37.0,
 75.0,
 54.0,
 145.0,
 40.9,
 70.0,
 175.0,
 135.0,
 39.0,
 45.0,
 235.0,
 48.0,
 185.0,
 285.0,
 49.0,
 88.9,
 32.0,
 305.0,
 102.6,
 68.9,
 62.0,
 235.0,
 125.0,
 83.0,
 81.1,
 80.0,
 63.0,
 165.0,
 315.0,
 23.0,
 100.0,
 205.0,
 63.0,
 105.0,
 135.0,
 205.0,
 73.0,
 175.0,
 50.0,
 145.0,
 185.0,
 70.7,
 145.0,
 34.8,
 135.0,
 34.0,
 365.0,
 135.0,
 48.2,
 37.0,
 62.0,
 945.0,
 215.0,
 104.0,
 52.1,
 50.0,
 53.9,
 135.0,
 135.0,
 30.0,
 48.0,
 135.0,
 125.0,
 31.0,
 115.0,
 105.0,
 52.2,
 325.0,
 455.0,
 165.0,
 34.0,
 82.9,
 74.5,
 57.0,
 53.0,
 60.4,
 70.0,
 100.0,
 125.0,
 44.0,
 55.0,
 59.7,
 135.0,
 125.0,
 23.5,
 115.0,
 74.5,
 25.0,
 73.0,
 60.9,
 68.1,
 155.0,
 34.3,
 79.0,
 90.0,
 505.0,
 79.9,
 65.0,
 49.7,
 30.4,
 38.0,
 67.9,
 165.0,
 80.6,
 25.9,
 125.0,
 51.0,
 37.5,
 47.9,
 71.0,
 33.0,
 135.0,
 61.6,
 85.3,
 115.0,
 59.0,
 81.1,
 26.4,
 62.0,
 215.0,
 77.9,
 46.9,
 103.0,
 105.0,
 165.0,
 40.0,
 35.0,
 535.0,
 225.0,
 92.0,
 40.0,
 155.0,
 92.0,
 155.0,
 125.0,
 40.0,
 77.0,
 35.0,
 63.5,
 245.0,
 38.0,
 18.1,
 125.0,
 155.0,
 81.0,
 90.0,
 325.0,
 105.0,
 93.9,
 115.0,
 58.0,
 28.1,
 145.0,
 95.0,
 15.5,
 48.0,
 105.0,
 90.0,
 185.0,
 185.0,
 63.7,
 325.0,
 67.0,
 63.0,
 74.0,
 61.0,
 58.0,
 87.0,
 94.0,
 115.0,
 51.8,
 17.9,
 98.0,
 24.3,
 93.0,
 16.9,
 71.1,
 345.0,
 65.0,
 62.0,
 105.0,
 145.0,
 145.0,
 41.1,
 46.0,
 195.0,
 56.0,
 20.9,
 86.3,
 88.0,
 175.0,
 86.9,
 115.0,
 465.0,
 285.0,
 105.0,
 38.0,
 90.0,
 54.0,
 505.0,
 505.0,
 43.0,
 115.0,
 265.0,
 115.0,
 100.0,
 25.0,
 31.5,
 125.0,
 30.0,
 155.0,
 82.5,
 165.0,
 62.0,
 175.0,
 95.0,
 31.3,
 70.0,
 70.0,
 115.0,
 52.0,
 125.0,
 82.2,
 66.4,
 90.0,
 59.0,
 37.0,
 165.0,
 185.0,
 125.0,
 79.8,
 43.2,
 155.0,
 745.0,
 54.0,
 96.9,
 73.0,
 135.0,
 1105.0,
 57.0,
 155.0,
 70.0,
 64.0,
 58.4,
 135.0,
 46.0,
 275.0,
 90.0,
 135.0,
 37.9,
 75.0,
 16.9,
 295.0,
 105.0,
 255.0,
 51.0,
 65.0,
 66.0,
 84.9,
 34.4,
 375.0,
 68.2,
 605.0,
 355.0,
 165.0,
 285.0,
 36.5,
 335.0,
 50.0,
 89.7,
 88.0,
 57.5,
 57.0,
 45.0,
 125.0,
 45.0,
 69.3,
 63.0,
 51.7,
 125.0,
 70.0,
 245.0,
 65.3,
 87.0,
 30.0,
 49.3,
 245.0,
 165.0,
 41.5,
 61.0,
 60.4,
 68.0,
 103.0,
 47.1,
 59.0,
 105.0,
 54.5,
 255.0,
 195.0,
 81.0,
 40.0,
 94.9,
 125.0,
 85.0,
 105.0,
 135.0,
 60.0,
 515.0,
 155.0,
 56.9,
 28.4,
 135.0,
 31.0,
 49.3,
 115.0,
 43.0,
 63.5,
 145.0,
 60.0,
 35.7,
 54.0,
 29.1,
 185.0,
 57.6,
 81.0,
 53.5,
 61.0,
 32.0,
 165.0,
 175.0,
 165.0,
 93.0,
 75.0,
 65.0,
 74.0,
 1155.0,
 27.9,
 70.0,
 87.0,
 155.0,
 105.0,
 155.0,
 90.0,
 84.0,
 28.2,
 165.0,
 125.0,
 78.0,
 101.5,
 80.0,
 92.0,
 175.0,
 245.0,
 175.0,
 60.1,
 36.5,
 125.0,
 51.0,
 195.0,
 115.0,
 155.0,
 125.0,
 65.3,
 85.0,
 32.0,
 84.0,
 80.0,
 305.0,
 37.1,
 39.0,
 28.0,
 52.0,
 58.0,
 34.9,
 76.2,
 265.0,
 135.0,
 295.0,
 79.5,
 95.0,
 43.0,
 86.0,
 42.0,
 47.0,
 145.0,
 96.0,
 100.0,
 62.0,
 69.7,
 57.0,
 215.0,
 95.0,
 39.8,
 31.2,
 76.2,
 100.0,
 105.0,
 80.0,
 60.0,
 205.0,
 35.4,
 335.0,
 255.0,
 135.0,
 165.0,
 95.0,
 34.0,
 185.0,
 33.0,
 67.0,
 50.0,
 86.0,
 34.9,
 23.5,
 28.0,
 275.0,
 72.5,
 85.0,
 195.0,
 135.0,
 88.5,
 545.0,
 135.0,
 32.5,
 71.0,
 85.7,
 57.5,
 48.3,
 33.0,
 135.0,
 80.5,
 59.0,
 43.0,
 49.8,
 84.0,
 105.0,
 32.2,
 33.5,
 24.6,
 355.0,
 37.7,
 245.0,
 92.0,
 39.0,
 85.0,
 195.0,
 38.0,
 90.7,
 175.0,
 45.0,
 64.1,
 36.0,
 73.0,
 40.2,
 60.0,
 165.0,
 62.0,
 72.0,
 84.2,
 85.0,
 315.0,
 36.9,
 58.7,
 69.5,
 100.0,
 80.0,
 30.0,
 135.0,
 30.0,
 125.0,
 33.0,
 70.0,
 105.0,
 39.5,
 88.0,
 70.0,
 145.0,
 195.0,
 195.0,
 79.0,
 43.1,
 195.0,
 525.0,
 32.2,
 85.0,
 92.4,
 36.0,
 91.4,
 105.0,
 305.0,
 145.0,
 50.0,
 215.0,
 78.0,
 245.0,
 39.5,
 57.0,
 97.0,
 100.5,
 41.5,
 91.0,
 50.0,
 61.4,
 92.0,
 55.0,
 76.5,
 92.0,
 39.0,
 69.0,
 50.6,
 68.0,
 95.0,
 80.0,
 37.9,
 905.0,
 59.0,
 18.2,
 1605.0,
 27.5,
 32.0,
 155.0,
 96.3,
 53.0,
 60.3,
 65.0,
 69.1,
 20.9,
 65.0,
 93.0,
 105.0,
 50.9,
 41.0,
 205.0,
 145.0,
 30.8,
 105.0,
 48.0,
 405.0,
 47.0,
 195.0,
 88.7,
 83.0,
 85.0,
 70.0,
 52.0,
 115.0,
 30.0,
 325.0,
 255.0,
 255.0,
 125.0,
 1055.0,
 89.9,
 125.0,
 245.0,
 195.0,
 38.0,
 79.0,
 435.0,
 255.0,
 33.0,
 185.0,
 67.0,
 1155.0,
 41.0,
 70.0,
 25.0,
 205.0,
 30.0,
 195.0,
 185.0,
 71.0,
 28.0,
 58.2,
 80.0,
 155.0,
 27.0,
 85.0,
 125.0,
 215.0,
 64.8,
 145.0,
 255.0,
 43.0,
 61.5,
 55.0,
 37.5,
 53.0,
 145.0,
 38.5,
 34.1,
 185.0,
 27.6,
 66.5,
 52.0,
 62.0,
 255.0,
 535.0,
 35.0,
 68.3,
 235.0,
 70.0,
 315.0,
 88.0,
 40.0,
 31.5,
 69.0,
 83.5,
 105.0,
 39.9,
 225.0,
 255.0,
 84.8,
 48.0,
 48.0,
 54.5,
 115.0,
 37.2,
 100.0,
 125.0,
 101.0,
 155.0,
 115.0,
 205.0,
 135.0,
 155.0,
 81.9,
 525.0,
 75.0,
 97.0,
 285.0,
 125.0,
 62.0,
 44.0,
 135.0,
 505.0,
 105.0,
 57.5,
 125.0,
 29.8,
 33.2,
 85.2,
 30.2,
 61.0,
 30.0,
 40.0,
 44.1,
 20.9,
 100.0,
 63.0,
 275.0,
 38.0,
 80.0,
 215.0,
 49.0,
 185.0,
 51.5,
 195.0,
 175.0,
 43.5,
 185.0,
 51.1,
 66.0,
 61.0,
 69.0,
 69.9,
 145.0,
 40.5,
 355.0,
 44.8,
 265.0,
 245.0,
 62.0,
 75.0,
 81.0,
 89.1,
 13.5,
 455.0,
 185.0,
 135.0,
 97.0,
 61.0,
 80.0,
 115.0,
 23.6,
 33.0,
 85.0,
 77.5,
 52.0,
 345.0,
 105.0,
 34.9,
 145.0,
 105.0,
 65.0,
 135.0,
 93.1,
 78.0,
 71.0,
 60.0,
 98.0,
 135.0,
 215.0,
 103.0,
 41.0,
 74.0,
 30.0,
 61.5,
 105.0,
 ...]

In [38]:
data2.insert(12,"new_peice",data3)

In [39]:
data2

,POSTED_BY,UNDER_CONSTRUCTION,RERA,BHK_NO.,BHK_OR_RK,SQUARE_FT,READY_TO_MOVE,RESALE,ADDRESS,LONGITUDE,LATITUDE,TARGET(PRICE_IN_LACS),new_peice,New_Temp
3,Owner,0,1,2,BHK,929.921143,1,1,"Sector-1 Vaishali,Ghaziabad",28.642300,77.344500,62.5,67.5,64.5
7,Owner,0,1,3,BHK,1181.012946,1,1,"Kharar,Mohali",30.740000,76.650000,52.0,57.0,54.0
8,Dealer,0,1,2,BHK,1040.000000,1,1,"Bileshivale,Bangalore",13.054202,77.674002,41.6,46.6,43.6
9,Owner,0,1,2,BHK,879.120879,1,1,"Chromepet,Chennai",12.951610,80.140970,36.0,41.0,38.0
13,Owner,0,1,2,BHK,1122.171946,1,1,"Sector-119 Noida,Noida",28.587711,77.403123,62.0,67.0,64.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29436,Owner,1,1,2,BHK,1175.132676,0,1,"Whitefield,Bangalore",12.995893,77.761394,62.0,67.0,64.0
29439,Dealer,1,1,2,BHK,975.609756,0,1,"Laxmi Nagar,Lalitpur",22.281215,70.789479,120.0,125.0,122.0
29443,Dealer,0,1,3,BHK,1161.194975,1,1,"Marol,Maharashtra",19.111438,72.878724,220.0,225.0,222.0
29444,Dealer,1,1,1,BHK,752.049334,0,1,"Mulund (West),Mumbai",19.175900,72.952200,100.0,105.0,102.0
29450,Dealer,0,1,2,BHK,896.774194,1,1,"Jagatpura,Jaipur",26.832353,75.841749,27.8,32.8,29.8

In [ ]:
# 3) Find the Flats those are in resaling mode and remove the 7 Lac from target price also give the approval from ReRa

In [33]:
data

,POSTED_BY,UNDER_CONSTRUCTION,RERA,BHK_NO.,BHK_OR_RK,SQUARE_FT,READY_TO_MOVE,RESALE,ADDRESS,LONGITUDE,LATITUDE,TARGET(PRICE_IN_LACS),New_Temp
0,Owner,0,0,2,BHK,1300.236407,1,1,"Ksfc Layout,Bangalore",12.969910,77.597960,55.0,57.0
1,Dealer,0,0,2,BHK,1275.000000,1,1,"Vishweshwara Nagar,Mysore",12.274538,76.644605,51.0,53.0
2,Owner,0,0,2,BHK,933.159722,1,1,"Jigani,Bangalore",12.778033,77.632191,43.0,45.0
3,Owner,0,1,2,BHK,929.921143,1,1,"Sector-1 Vaishali,Ghaziabad",28.642300,77.344500,62.5,64.5
4,Dealer,1,0,2,BHK,999.009247,0,1,"New Town,Kolkata",22.592200,88.484911,60.5,62.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
29446,Owner,0,0,3,BHK,2500.000000,1,1,"Shamshabad Road,Agra",27.140626,78.043277,45.0,47.0
29447,Owner,0,0,2,BHK,769.230769,1,1,"E3-108, Lake View Recidency,,Vapi",39.945409,-86.150721,16.0,18.0
29448,Dealer,0,0,2,BHK,1022.641509,1,1,"Ajmer Road,Jaipur",26.928785,75.828002,27.1,29.1
29449,Owner,0,0,2,BHK,927.079009,1,1,"Sholinganallur,Chennai",12.900150,80.227910,67.0,69.0
29450,Dealer,0,1,2,BHK,896.774194,1,1,"Jagatpura,Jaipur",26.832353,75.841749,27.8,29.8

In [31]:
data2=data.loc[(data["RESALE"]==1)&(data["RERA"]==1)]

In [32]:
data2

,POSTED_BY,UNDER_CONSTRUCTION,RERA,BHK_NO.,BHK_OR_RK,SQUARE_FT,READY_TO_MOVE,RESALE,ADDRESS,LONGITUDE,LATITUDE,TARGET(PRICE_IN_LACS),New_Temp
3,Owner,0,1,2,BHK,929.921143,1,1,"Sector-1 Vaishali,Ghaziabad",28.642300,77.344500,62.5,64.5
7,Owner,0,1,3,BHK,1181.012946,1,1,"Kharar,Mohali",30.740000,76.650000,52.0,54.0
8,Dealer,0,1,2,BHK,1040.000000,1,1,"Bileshivale,Bangalore",13.054202,77.674002,41.6,43.6
9,Owner,0,1,2,BHK,879.120879,1,1,"Chromepet,Chennai",12.951610,80.140970,36.0,38.0
13,Owner,0,1,2,BHK,1122.171946,1,1,"Sector-119 Noida,Noida",28.587711,77.403123,62.0,64.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
29436,Owner,1,1,2,BHK,1175.132676,0,1,"Whitefield,Bangalore",12.995893,77.761394,62.0,64.0
29439,Dealer,1,1,2,BHK,975.609756,0,1,"Laxmi Nagar,Lalitpur",22.281215,70.789479,120.0,122.0
29443,Dealer,0,1,3,BHK,1161.194975,1,1,"Marol,Maharashtra",19.111438,72.878724,220.0,222.0
29444,Dealer,1,1,1,BHK,752.049334,0,1,"Mulund (West),Mumbai",19.175900,72.952200,100.0,102.0
29450,Dealer,0,1,2,BHK,896.774194,1,1,"Jagatpura,Jaipur",26.832353,75.841749,27.8,29.8

In [41]:
data4=[]
for x in data2["RERA"]:
    ab=x-1
    data4.append(ab)

In [42]:
data4

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 ...]

In [43]:
data2.insert(3,"NEW_RERA",data4)

In [44]:
data2

,POSTED_BY,UNDER_CONSTRUCTION,RERA,NEW_RERA,BHK_NO.,BHK_OR_RK,SQUARE_FT,READY_TO_MOVE,RESALE,ADDRESS,LONGITUDE,LATITUDE,TARGET(PRICE_IN_LACS),new_peice,New_Temp
3,Owner,0,1,0,2,BHK,929.921143,1,1,"Sector-1 Vaishali,Ghaziabad",28.642300,77.344500,62.5,67.5,64.5
7,Owner,0,1,0,3,BHK,1181.012946,1,1,"Kharar,Mohali",30.740000,76.650000,52.0,57.0,54.0
8,Dealer,0,1,0,2,BHK,1040.000000,1,1,"Bileshivale,Bangalore",13.054202,77.674002,41.6,46.6,43.6
9,Owner,0,1,0,2,BHK,879.120879,1,1,"Chromepet,Chennai",12.951610,80.140970,36.0,41.0,38.0
13,Owner,0,1,0,2,BHK,1122.171946,1,1,"Sector-119 Noida,Noida",28.587711,77.403123,62.0,67.0,64.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29436,Owner,1,1,0,2,BHK,1175.132676,0,1,"Whitefield,Bangalore",12.995893,77.761394,62.0,67.0,64.0
29439,Dealer,1,1,0,2,BHK,975.609756,0,1,"Laxmi Nagar,Lalitpur",22.281215,70.789479,120.0,125.0,122.0
29443,Dealer,0,1,0,3,BHK,1161.194975,1,1,"Marol,Maharashtra",19.111438,72.878724,220.0,225.0,222.0
29444,Dealer,1,1,0,1,BHK,752.049334,0,1,"Mulund (West),Mumbai",19.175900,72.952200,100.0,105.0,102.0
29450,Dealer,0,1,0,2,BHK,896.774194,1,1,"Jagatpura,Jaipur",26.832353,75.841749,27.8,32.8,29.8

In [45]:
# 4) Find Owners Flats those are under Contruction and count the number Flats he has.

In [46]:
data

,POSTED_BY,UNDER_CONSTRUCTION,RERA,BHK_NO.,BHK_OR_RK,SQUARE_FT,READY_TO_MOVE,RESALE,ADDRESS,LONGITUDE,LATITUDE,TARGET(PRICE_IN_LACS),New_Temp
0,Owner,0,0,2,BHK,1300.236407,1,1,"Ksfc Layout,Bangalore",12.969910,77.597960,55.0,57.0
1,Dealer,0,0,2,BHK,1275.000000,1,1,"Vishweshwara Nagar,Mysore",12.274538,76.644605,51.0,53.0
2,Owner,0,0,2,BHK,933.159722,1,1,"Jigani,Bangalore",12.778033,77.632191,43.0,45.0
3,Owner,0,1,2,BHK,929.921143,1,1,"Sector-1 Vaishali,Ghaziabad",28.642300,77.344500,62.5,64.5
4,Dealer,1,0,2,BHK,999.009247,0,1,"New Town,Kolkata",22.592200,88.484911,60.5,62.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
29446,Owner,0,0,3,BHK,2500.000000,1,1,"Shamshabad Road,Agra",27.140626,78.043277,45.0,47.0
29447,Owner,0,0,2,BHK,769.230769,1,1,"E3-108, Lake View Recidency,,Vapi",39.945409,-86.150721,16.0,18.0
29448,Dealer,0,0,2,BHK,1022.641509,1,1,"Ajmer Road,Jaipur",26.928785,75.828002,27.1,29.1
29449,Owner,0,0,2,BHK,927.079009,1,1,"Sholinganallur,Chennai",12.900150,80.227910,67.0,69.0
29450,Dealer,0,1,2,BHK,896.774194,1,1,"Jagatpura,Jaipur",26.832353,75.841749,27.8,29.8

In [47]:
data5=data.loc[(data["POSTED_BY"]=="Owner")&(data["UNDER_CONSTRUCTION"]==1)]

In [48]:
data5

,POSTED_BY,UNDER_CONSTRUCTION,RERA,BHK_NO.,BHK_OR_RK,SQUARE_FT,READY_TO_MOVE,RESALE,ADDRESS,LONGITUDE,LATITUDE,TARGET(PRICE_IN_LACS),New_Temp
28,Owner,1,0,2,BHK,1000.000000,0,1,"Mohan Asram,Deoghar",24.480000,86.700000,39.0,41.0
72,Owner,1,0,2,BHK,739.827374,0,1,"tallaiya,Bhopal",23.250000,77.416670,30.0,32.0
100,Owner,1,1,2,BHK,989.902989,0,1,"Sector-143 Noida,Noida",28.503500,77.426447,50.0,52.0
113,Owner,1,0,3,BHK,1600.170685,0,1,"Tripunithura,Kochi",9.952439,76.363296,75.0,77.0
122,Owner,1,1,2,BHK,1109.165207,0,1,"Katapady,Udupi",13.278237,74.747328,38.0,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
29268,Owner,1,0,3,BHK,1800.064288,0,1,"Karakambadi Road,Tirupati",13.671200,79.511300,56.0,58.0
29322,Owner,1,1,2,BHK,990.099010,0,1,"Sector-143 Noida,Noida",28.503500,77.426447,46.0,48.0
29326,Owner,1,1,2,BHK,1114.126553,0,1,"Horamavu,Bangalore",13.031800,77.658300,78.0,80.0
29360,Owner,1,1,2,BHK,1090.159104,0,1,"Sarojini Nagar,Lucknow",26.748868,80.863332,37.0,39.0
29436,Owner,1,1,2,BHK,1175.132676,0,1,"Whitefield,Bangalore",12.995893,77.761394,62.0,64.0

In [50]:
data5["BHK_OR_RK"].count()

663